<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>django wall</title>
        {% load staticfiles %}
       <link rel="stylesheet" href="{% static 'login_reg/css/master.css' %}"media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        {% if messages %}
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}
        <a href="{% url 'logout' %}"><button type="button" name="logout">Logout</button></a>
        <h2>User Info for {{request.session.activeuser.first_name }}  {{request.session.activeuser.last_name }}</h2>
        <p>User ID : {{request.session.activeuser.id}}</p>
        <p>Email : {{request.session.activeuser.email}}</p>
        <p>Date of Birth : {{request.session.activeuser.dob}}</p>
    </body>
</html>
